﻿



.accordion {
    width: 100%;
    max-width: 360px;
    margin: 40px -30px 20px;
    background: #122c40;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;*/
    /*border-radius: 4px;*/
    list-style: none;
}

    .accordion .link {
        cursor: pointer;
        display: block;
        padding: 15px 15px 15px 42px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .accordion li.default .submenu {
        display: block;
    }

    .accordion li i.fa-chevron-down {
        right: 12px;
        left: auto;
        font-size: 16px;
    }

    .accordion li.open i.fa-chevron-down {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    
/**+++++++++++
 * Submenu
 -----------------------------*/

.submenu {
    display: none;
    background: #444359;
    font-size: 14px;
}

    .submenu li {
        border-bottom: 1px solid #4b4a5e;
        list-style: none;
        display: block;
    }

    .submenu a {
        display: block;
        text-decoration: none;
        color: #d9d9d9;
        padding: 12px;
        padding-left: 42px;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
        list-style: none;
        display: block;
        border-left-color: #00AAFF;
    }

        .submenu a:hover {
            background: #0e13ff;
            color: #FFF;
            list-style: none;
            display: block;
            border-left-color: #00AAFF;
        }
