﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage/Inicio.Master" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="WebApplication1.Modulo.Inicio.Login" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <%-- sdfds --%>
</asp:Content>
