﻿.icono_limpiar important {
    font-size: 30px !important;
    color: #1717FF;
    cursor: pointer;
}

/*FLEX BOX*/
.container-indicador {
    display: flex;
    flex-direction: column;
}
.container-mitad {
    display: flex;
    flex-direction: row;
}

.container-kpi {
    display: flex;
    flex-flow:  wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.container-panel {
    display: flex;

  
}

.container-child {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.children {
    margin-right: 15px;
    margin-bottom: 10px !important;
}
.childrenb {
    margin-right: 20px;
    width: 20%;
    margin-bottom: 20px !important;
}

.childrenc {
    width: 15%;
    height: 15px;
    margin-right: 15px;
    margin-bottom: 10px !important;
}

.children-group {
    margin-right: 8px;
}

.children-child {
    display: flex;
}

.children-b {
    display: flex;
    align-self: center;
}